<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of an OMNeT++ simulation example for Connected and Autonomous Vehicles class (Winter semester 2021-2022) -->

<root>
    <AnalogueModels>
        <AnalogueModel type="SimplePathlossModel" thresholding="true">
            <parameter name="alpha" type="double" value="2.0"/>
        </AnalogueModel>
    </AnalogueModels>
    <Decider type="Decider80211p">
        <!-- The center frequency on which the phy listens-->
        <parameter name="centerFrequency" type="double" value="5.890e9"/>
    </Decider>
</root>
